/build
/bin
/.xmake
/.vscode/*
/.cache
__pycache__
.pytest_cache
CODEBUDDY.md
output
eval
config.json
/dist
vsxmake2022
compile_commands.json
/screenshot.png 
*.egg-info
.env
lc_options.generated.lua
/compute
.scripts
/Resources/OutputMesh/**
/Resources/OutputImage/
/Resources/SimulationState/
.polyscope.ini
imgui.ini
.VSCodeCounter
ext/*
!ext/xmake.lua
!ext/CMakeLists.txt
!ext/polyscope_pch.h
!ext/glad_ogl33
!ext/embed_yyjson
!.vscode/settings.json.for_xmake
.obsidian
lcs_config.ini
.workbuddy
/PythonBindings/robotics/assets/*
!/PythonBindings/robotics/assets/**/
!/PythonBindings/robotics/assets/**/*.urdf
!/PythonBindings/robotics/assets/**/*.xml
!/PythonBindings/robotics/assets/**/*.yaml
!/PythonBindings/robotics/assets/**/*.yml
!/PythonBindings/robotics/assets/**/*.md
!/PythonBindings/robotics/assets/**/LICENSE
/PythonBindings/robotics/assets/**/*.dae
/PythonBindings/robotics/assets/**/*.obj
/PythonBindings/robotics/assets/**/*.stl
/PythonBindings/robotics/assets/**/*.mtl
/PythonBindings/robotics/assets/**/*.ply
/PythonBindings/robotics/assets/**/*.glb
/PythonBindings/robotics/assets/**/*.gltf
/PythonBindings/robotics/assets/**/*.png
/PythonBindings/robotics/assets/**/*.jpg
/PythonBindings/robotics/assets/**/*.jpeg
/PythonBindings/robotics/assets/**/*.usd
/PythonBindings/robotics/assets/**/*.usda
/PythonBindings/robotics/assets/**/*.usdc
/PythonBindings/robotics/assets/**/*.onnx
/PythonBindings/robotics/assets/**/*.pt
/PythonBindings/robotics/assets/**/*.json
