/build
/bin
/.xmake
/.vscode/*
/.cache
__pycache__
.pytest_cache
CODEBUDDY.md
output
eval
config.json
/dist
vsxmake2022
compile_commands.json
/screenshot.png 
*.egg-info
.env
lc_options.generated.lua
/compute
.scripts
/Resources/OutputMesh/**
/Resources/OutputImage/
/Resources/SimulationState/
.polyscope.ini
imgui.ini
.VSCodeCounter
ext/*
!ext/xmake.lua
!ext/CMakeLists.txt
!ext/polyscope_pch.h
!ext/glad_ogl33
!ext/embed_yyjson
!.vscode/settings.json.for_xmake
.obsidian
lcs_config.ini
.workbuddy
/PythonBindings/robotics/assets/
